html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 7%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
    margin: 0;
}

.active {
    background-color: #4CAF50;
}

.create-post-wrapper {
    padding: 0;
    height: 6%;
}

.create-post-input {
    height: 100%;
    width: 80%;
    font-size: 200%;
    float: left;
}

.create-post-button {
    height: 100%;
    float: right;
    width: 15%;
    margin-right: 2.5%;
    font-size: 200%;
}

.posts-wrapper {
    height: 85.2%;
    overflow-y: scroll;
}

.post-wrapper {
    border-bottom: gray solid 1px;
}

.post-content {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.post-time {
    color: gray;
}

.chat-header-wrapper {
    height: 6%;
    border-bottom: gray solid 1px;
    width: 100%;
}

.chat-create {
    color: #4CAF50;
    font-size: 200%;
    margin-right: 10%;
    float: right;
    text-decoration: underline;
}

.chat-header {
    margin-left: 10%;
    font-size: 200%;
    float: left;
}

.direct-message-wrapper {
    float: none;
    height: 85.2%;
    overflow-y: scroll;
}

.chat-link {
    color: gray;
    display: inline-block;
}

.chat-username {
    display: inline-block;
    margin-right: 1%;
    font-weight: bold;
    margin-bottom: .5%;
}

.chat-last-time {
    color: gray;
    margin-top: .5%;
}

@media all and (max-width: 980px){
	li a {
		font-size: 2.8793em;
    }

    ul {
        height: 4.5%;
    }

    .create-post-wrapper {
        height: 4%;
    }

    .posts-wrapper {
        height: 91.2%;
    }

    .create-post-input {
        height: 100%;
        font-size: 350%;
    }
    
    .create-post-button {
        height: 100%;
    }

    .post-wrapper {
        height: 10%;
        font-size: 220%;
    }

    .chat-header {
        font-size: 400%;
        text-align: center;
        height: 4%;
    }

    .direct-message-wrapper {
        height: 91.2%;
    }

    .chat-create {
        font-size: 400%;
    }
}